body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: linear-gradient(to right, #5e5e5e 0%, #232120 100%);
    margin: 0;
    font-family: 'Arial', sans-serif;
}
.mode-select {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.mode-select button {
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #7c7c7c;
    color: rgb(5, 5, 5);
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}
.mode-select button:hover {
    background: #09ff00;
}
.calculator {
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.6);
}

.display-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

.display-number-1 {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fbfbfb99;
    text-align: center;
    width: 150px;
}

.display-number-2 {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fbfbfb99;
    text-align: center;
    width: 150px;
}

.display {
    font-size: 1.5rem;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background: #fbfbfb99;
    text-align: right;
}
.cnvButtons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}


.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    position: relative;
}


.selects {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
}

.cnvSelects {
    padding-top: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    position: relative;
}

.button, .base-selector, .operations, .number, .base-cnv {
    padding: 15px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    background: #7c7c7c;
    color: rgb(5, 5, 5);
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}
.button:hover, .base-selector:hover,  .operations:hover, .number:hover, .base-cnv:hover {
    background: #09ff00;
}
.button:active, .base-selector:active , .operations:active, .number:active, .base-cnv:active {
    transform: scale(0.95);
}
.base-selector {
    grid-column: 2 / span 1;
    align-self: center;
}

.base-cnv {
    grid-column: 1 / span 1;
    align-self: center; 
}

.section {
    display: none;
}
.section.active {
    display: block;
}

.numselected {
    background: #48AAAD;
}

.opselected {
    background: #48AAAD;
}